

extends baseEmail

block content

    tr
        td.pb-30
            p.paragraph Hi #{firstName},
            p.paragraph
                | We received a request to reset your password for your account on Kanban. 
                | To proceed with resetting your password, please click the button below.

    tr
        td.pd-17
            p.paragraph Thanks.
            p.paragraph Kanban team.

    tr
        td.btn-box(align='center')
            a.btn(href=`${url}`) Reset password   