extends baseEmail

block content

    tr
        td.pb-30
            p.paragraph Hi #{firstName},
            p.paragraph
                | Congratulations! We are pleased to inform you that
                | your account has been successfully verified. You
                | can now enjoy full access to all the features and
                | benefits our platform offers. Thank you for
                | choosing to be a part of our community. If you
                | have any questions or need assistance, please
                | don&apos;t hesitate to reach out to our support team.
                | We&apos;re here to help!

    tr
        td.pd-17
            p.paragraph Thanks.
            p.paragraph Kanban team.
